.container {
  flex: 1;
  background-color: black;
  background-image: url('/logo.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 11vh;
}

.content{
  padding-bottom: 50px;
}

.diamondicon{
  color: white;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .container{
    background-size: 100%;
  }
}

@media (max-width: 690px) {
  .container{
    background-size: 180%;
  }
}