.container {
    height: 1500px;
    background-color: black;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    color: white;
  }

.sobre{
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
}
