.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.devby{
    position: absolute;
    left: 0;
    padding-left: 20px;
    color: rgb(131, 131, 248);
}

.social{
    display: flex;
    align-items: center;
    font-size: 26px;
    cursor: pointer;  
}
.iconI{
    color: #F77737;
    margin: 15px;
}
.iconW{
    color: #25D366;
    margin: 15px;
}
.iconY{
    color: #FF0000;
    margin: 15px;
}
.iconF{
    color: #1877F2;
    margin: 15px;
}

@media (max-width: 690px) {
    .devby{
        display: none;
    }
  }
  